@import "tailwindcss";

@theme {
  /* Colores Lion Tech */
  --color-lion-black: #000000;
  --color-lion-cyan: #42EADD;
  --color-lion-petroleo: #2C4C4C;
  --color-lion-dark: #121212;

  /* Tipografías */
  --font-playfair: "Playfair Display", serif;
  --font-montserrat: "Montserrat", sans-serif;
}
